@page
@model LoginModel
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>
<form method="post" class="form-signin">
    <div asp-validation-summary="All"></div>
    <div class="form-label-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" placeholder="Email address" required autofocus>
    </div>
    <div class="form-label-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" placeholder="Password" required>
    </div>
    <button type="submit" class="btn btn-lg btn-primary btn-block">Login</button>
</form>
